body{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
h2{
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    color: #121212;   
    margin: 0px;
}
h3{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}

p{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-weight: 400;
    color: #646464;
}
input{
    height: 55px;
    margin-bottom: 25px;
    width: 100%;
    border-width: 0px 0px 2px 0px;
    border-color: #64646440;
    color: #64646447;
    font-size: 20px;
    text-align: center;
}
.center-text{
    text-align: center;
}
.section-area{
    padding: 70px 10px;
    margin: auto;
}
.button{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    background-color: #fa7f4b;
    padding: 13px 24px;
    border-radius: 5px;
}
#section-2{
    width: 900px;
    margin: auto;
}
#hero-banner{
    background-image:  linear-gradient( rgba(245, 246, 252, 0.055), rgba(29, 28, 28, 0.986)),
    url('images/banner.jpg');
    min-height: 700px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
}
.banner-subtitle{
    padding-bottom: 15px;
    color: #ffffff;
}
.select-amount{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.amount-box{
    min-width: 150px;
    background-color: #fafafa;
    text-align: center;
    color: #646464;
    padding: 35px 0px;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
}
#selected-amount{
    border: 3px solid #fa7f4b;
    background-color: #fa7f4b14;
    color: #fa7f4b;
}
.custom-amount{
    padding-top: 80px;
    text-align: center;
    margin: auto;
    width: 855px;
}
.mission-section{
    align-items: center;
    display: flex;
    margin: 0 5%;
    
}
.mission-box{
    width: 100%;
    margin: 0 50px;
}
#mission-box-1{
    background-color: #FFF4D6;
}
#mission-box-2{
    background-color: #EDF5F6;
}
#mission-box-3{
    background-color: #FEEDED;
}