body{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
h2{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: #121212;
    margin: 0px;
}
h3{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
p{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
.center-text{
    text-align: center;
}
.section-area{
    padding: 40px 10px;
}
.button{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    background-color: #fa7f4b;
    padding: 13px 24px;
    border-radius: 5px;
}
#hero-banner{
    background-image:  linear-gradient( rgba(245, 246, 252, 0.055), rgba(29, 28, 28, 0.986)),
    url('images/banner.jpg');
    min-height: 700px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffffff;
}
.banner-subtitle{
    margin-top: -20px;
    padding-bottom: 15px;
}